*{
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(10, 10vh);
}

.grid-item{
    background-color: red;

    /* grid-column-start: 6;
    grid-column-end: 9; */
    grid-column: 6/9;
    /* grid-row-start: 4;
    grid-row-end: 7; */
    grid-row: 4/7;
}